* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}

header {
  text-align: center;
  background: black;
  color: #fff;
  padding: 10px 0;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

section {
  border: 2px solid #ccc;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 10px;
  margin: 10px 0;
}

label {
  display: block;
  padding: 7px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  cursor: pointer;
  border: 1px dashed #ccc;
  margin-bottom: 3px;
}

label:hover {
  background: #ccc;
}

button {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: larger;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background: #ccc;
  color: black;
}

.title-h2-result {
  text-align: center;
}

#result {
  font-size: 30px;
  color: green;
}
#result2 {
  font-size: 30px;
  color: darkred;
}

#alert {
  display: none;
}
